<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapp.name">
    <application
        android:label="Artvision Visualizer"
        android:icon="@mipmap/icon.png">
        <uses-permission android:name="android.permission.INTERNET"/>
    </application>
</manifest>

